<!DOCTYPE html>
<html lang="es">

<%- include('../partials/header') %>

<body>
    <div class="container">


        <!---------Comienza el nav--------------------->
        <%- include('../partials/navbar') %>
        <!---------Comienza el main------------------------>
        <section class="row">
            <article class="col-12  card pt-5" >
                    <div class="card-body">
                      <h1 class="card-title text-center main-titulo">Detalle del producto</h1>
                    </div>
            </article>
        </section>
  
          <section class="bg-home pt-4">
              <div class="container">
                  <div class="row" >
                      <div class="col-6 mx-auto bg-light ">
                          <div class="card">
                              <ul class="list-group">
                                  <li class="list-group-item">ID: <%= productoShow.id %> </li>
                                  <li class="list-group-item">Nombre: <%= productoShow.nombre %>  </li>
                                  <li class="list-group-item">Descripción: <%= productoShow.descripcion %> </li>
                                  <li class="list-group-item">Categoria: <%= productoShow.categoria %>  </li>
                                  <li class="list-group-item">Stock: <%= productoShow.stock %> </li>
                                  <li class="list-group-item">Precio: <%= productoShow.precio %>  </li>
                                  <li class="list-group-item">Descuento: <%= productoShow.descuento %>  </li>
                              </ul>
                          </div>
                        </div>
                        <div class="col-6 mx-auto bg-light ">
                          <div class="card">
                              <figure class="form-group">
                                <img class="w-50 " src="/images/productos/<%= productoShow.imagen %>" alt="Imagen del producto">
                            </figure>
                          </div> 
                          <a class="btn btn-primary" href="/administrar">Volver</a>
                      </div>                        
                  </div>
              </div>
          </section>

    <!-------------Comienza el footer---------------------->
    <%- include('../partials/footer') %>
    <!--LIBRERIAS-->
    <script src="/bootstrap/js/jquery-3.5.1.js"></script>
    <script src="/bootstrap/js/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js">
    </script>
</body>