<!DOCTYPE html>
<html lang="es">

<%- include('../partials/header') %>

<body>
    <div class="container">


        <!---------Comienza el nav--------------------->
        <%- include('../partials/navbar') %>
        <!---------Comienza el main------------------------>
        <section class="row">
            <article class="col-12  card pt-5">
                <div class="card-body">
                    <h1 class="card-title text-center main-titulo">Editar perfil</h1>
                </div>
            </article>
        </section>

        <section class="bg-home pt-4">
            <div class="container">
                <div class="row">
                    <div class="col-6 mx-auto bg-light ">
                        <div class="signup-form">
                            <div class="errores">
                                <ul>




                                </ul>
                            </div>
                            <form id="formEditPerfil" action="/user/editperfil/<%=editPerfil.id%> ?_method=PUT"
                                method="POST" enctype="multipart/form-data">

                                <div class="form-group">
                                    <label for="">Nombre Del Usuario</label>
                                    <input type="text" class="form-control input-nombre" name="name"
                                        value="<%= editPerfil.name%>">
                                    <% if(typeof errors != 'undefined' && errors.name){%>
                                    <span class="text-danger"> <%= errors.name.msg %></span>
                                    <%}%>     
                                </div>
                                <div class="form-group">
                                    <label for="">Apellido Del Usuario</label>
                                    <input type="text" class="form-control input-lastName" name="lastname"
                                        value="<%= editPerfil.lastName%>">
                                    <% if(typeof errors != 'undefined' && errors.lastname){%>
                                    <span class="text-danger"> <%= errors.lastname.msg %></span>
                                    <%}%>
                                </div>
                                <div class="form-group">
                                    <label for="">E-mail del usuario</label>
                                    <input type="email" class="form-control input-email" name="email"
                                        value="<%= editPerfil.email%>" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="">Teléfono</label>
                                    <input type="number" class="form-control input-phone" name="phone"
                                        value="<%= editPerfil.phone%>">
                                    <% if(typeof errors != 'undefined' && errors.phone){%>
                                    <span class="text-danger"> <%= errors.phone.msg %></span>
                                    <%}%>
                                        </div>

                                <div class="form-group">
                                    <label for="">Avatar del usuario</label>
                                    <figure class="form-group">
                                        <img class="w-50 " src="/images/usuarios/<%= editPerfil.image %>" alt="Imagen
                                    del usuario" name="imagen">
                                    </figure>
                                    <!--De esta forma logro conservar y que viaje la imagen anterior de esta forma evito que el usuario seleccione una imagen nuevamente, ( si no lo desea) -->
                                    <input type="hidden" name="oldImagen" value="<%= editPerfil.image%>" >
                                    <input type="file" name="imagen" placeholder="Eligir la imagen..." >

                                    <% if(typeof errors != 'undefined' && errors.imagen){%>
                                    <span class="text-danger"> <%= errors.imagen.msg %></span>
                                    <%}%>
                                </div>

                                <div class="custom-file" id="errorimagen">
                                    <input type="file" class="custom-file-input" name="imagen" id="errorimagen"
                                        placeholder="Seleccione una imagen">
                                    <label class="custom-file-label" for="" id="errorimagen">Eligir Nuevo
                                        avatar..</label>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn btn-primary">Actualizar</button>
                                    <a class="btn btn-danger" href="/perfil">Volver</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-------------Comienza el footer---------------------->
        <%- include('../partials/footer') %>
 <!--LIBRERIAS-->
 <script src="/bootstrap/js/jquery-3.5.1.js"></script>
 <script src="/bootstrap/js/popper.min.js"></script>
 <script src="/bootstrap/js/bootstrap.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
 <script src="/js/validationFrontUser.js"></script>
</body>

</html>