<!DOCTYPE html>
<html lang="es">

<%- include('../partials/header') %>

<body>
    <div class="container">


        <!---------Comienza el nav--------------------->
        <%- include('../partials/navbar') %>
        <!---------Comienza el main------------------------>
        <section class="row">
            <article class="col-12  card pt-5">
                <div class="card-body">
                    <h1 class="card-title text-center main-titulo">Cambiar Contrase単a</h1>
                </div>
            </article>
        </section>

        <section class="bg-home pt-4">
            <div class="container">
                <div class="row">
                    <div class="col-6 mx-auto bg-light ">
                        <div class="signup-form">
                            <div class="errores">
                                <ul>




                                </ul>
                            </div>
                            <form id="formEditPerfil" action="/user/editPassword/<%=editPassword.id%> ?_method=PUT"
                                method="POST">
                                
                                        <div class="form-group">
                                            <label for="password">Ingrese antigua contrase単a</label>
                                            <input type="password" class="form-control" name="oldPassword">
                                                <% if(typeof errors != 'undefined' && errors.oldPassword){%>
                                    <span class="text-danger"> <%= errors.oldPassword.msg %></span>
                                    <%}%>
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Ingrese nueva contrase単a</label>
                                            <input type="password" class="form-control" name="password">
                                                <% if(typeof errors != 'undefined' && errors.password){%>
                                    <span class="text-danger"> <%= errors.password.msg %></span>
                                    <%}%>
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Confirmar nueva contrase単a</label>
                                            <input type="password" class="form-control" name="confirmPassword">
                                               
                                <div class="form-group">
                                    <button type="submit" class="btn btn btn-primary">Continuar</button>
                                    <a class="btn btn-danger" href="/perfil">Volver</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-------------Comienza el footer---------------------->
        <%- include('../partials/footer') %>
                                    <!--LIBRERIAS-->
                                    <script src="/bootstrap/js/jquery-3.5.1.js"></script>
                                    <script src="/bootstrap/js/popper.min.js"></script>
                                    <script src="/bootstrap/js/bootstrap.min.js"></script>
                                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
                                    <script src="/js/jsfront.js"></script>
</body>

</html>