<!DOCTYPE html>
<html lang="es">

<%- include('../partials/header') %>

<body>
    <div class="container">


        <!---------Comienza el nav--------------------->
        <%- include('../partials/navbar') %>
        <!---------Comienza el main------------------------>
        <br>
        <h3 class="contactovinculo main-titulo">Administrar Usuarios</h3>
        <section class="row">
            <article class="col-12">
                <form class="form-inline" action="/search/user" method="GET">
                    <button type="button" class="btn btn-secondary justify-content-end botonlogin "><a
                            class="agregar-prod" href="/usuarios/create">Agregar
                            Usuario <i class="fas fa-plus-circle"></i></a></button>
                    <div class="input-group-prepend mb-6 ">
                        <input class="form-control" type="search" placeholder="Buscar Usuario" name="buscar">
                        <button class="btn my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </article>
        </section>   
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Ver</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Borrar</th>
                    </tr>
                </thead>
                <tbody>
                    <% user.forEach(usuario => { %>
                    <tr>
                        <th scope="row"><%=usuario.id%></th>
                        <td><%=usuario.name%></td>
                        <td><%=usuario.lastName%></td>
                        <td><%=usuario.email%></td>
                        <td><%=usuario.phone%></td>
                        <td><a href="/user/detail/<%=usuario.id%>"><i class="far fa-eye"></i></a></td>
                        <td><a href="/user/edit/<%=usuario.id%>"><i class="fas fa-pencil-alt"></i></a></td>
                        <td><a href="/user/delete/<%=usuario.id%>"><i class="fas fa-trash"></i></a></td>
                    </tr>
                    <% }) ; %>
                </tbody>
            </table>
           
        </div>
        <!-------------Comienza el footer---------------------->
        <%- include('../partials/footer') %>
        <!--LIBRERIAS-->
        <script src="/bootstrap/js/jquery-3.5.1.js"></script>
        <script src="/bootstrap/js/popper.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js">
        </script>
</body>

</html>