<!DOCTYPE html>
<html lang="es">

<%- include('../partials/header') %>

<body>
    <div class="container">

        <!---------Comienza el nav--------------------->
        <%- include('../partials/navbar') %>
        <!---------Comienza el main------------------------>
        <section class="row">
            <article class="col-12  ">
                <div class="card-body">
                    <h1 class="h3login main-titulo ">Iniciar Sesi칩n</h1>

                </div>
            </article>
        </section>
        <section class="bg-home pt-6">
            <div class="container">
                <div class="row">
                    <div class="col-8 mx-auto ">
                        <div>
                            <ul class="errores">
                                
                            </ul>
                        </div>
                        <div class="signup-form">
                            <form class="form-login" action="/login" method="POST">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email</label>
                                    <input type="email" class="form-control" name="email"placeholder="Email" value="<%=typeof old == 'undefined' ? '':old.email %>">
                                    <% if(typeof errors != 'undefined' && errors.email){%>
                                        <span class="text-danger" > <%= errors.email.msg %></span>
                                      <%}%>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Contrase침a: </label>
                                    <div class="input-group">
                                    <input id="pass" type="password" class="form-control" name="password" placeholder="Contrase침a" >
                                    <button id="show_password" class="btn btn-primary fas fa-eye-slash" type="button"></button>
                                </div>
                                    <% if(typeof errors != 'undefined' && errors.password){%>
                                        <span class="text-danger" > <%=errors.password.msg %></span>
                                       <%}%>
                                </div>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" name="recordarme" checked>
                                    <label class="form-check-label" for="exampleCheck1">Recordame</label>
                                </div>
                                <button type="submit" class="btn btn-secondary botonlogin">Iniciar Sesi칩n</button>
                        
                            </form>
                       </div>
                    </div>
                </div>
            </div>

        </section>

        <!-------------Comienza el footer---------------------->
        <%- include('../partials/footer') %>
        <!--LIBRERIAS-->
        <script src="bootstrap/js/jquery-3.5.1.js"></script>
        <script src="bootstrap/js/popper.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <script src="/js/loginValidatorFront.js"></script>
        <script src="/js/ojito.js"></script>
</body>

</html>