<!DOCTYPE html>
<html lang="es">

<%- include('../partials/header') %>
<body>
    <div class="container">

<!---------Comienza el nav--------------------->
<%- include('../partials/navbar') %>
        <!---------Comienza el main------------------------>
        <main class="row">
            <h2 class="col-sm-12 col-md-12 col-lg-12 main-titulo"><%= titulo %></h2>
            <% for (let i= 0; i<productos.length; i++){ %>
                <article class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top"><img width="100%"
                                src="/images/productos/<%= productos[i].image%>" alt=""></a>
                        <div class="altura">
                            <h4><%= productos[i].name %></h4>
                            <p>$<%= productos[i].price %></p>
                        </div>
                        <ul>
                            <button type="button" class="btn btn-primary"><a
                                    href="/detalleProducto/<%= productos[i].id %> ">Detalles</a></button>
                            <button type="button" class="btn btn-primary"><a href="/carrito"><i
                                        class="fas fa-cart-plus"></i>
                                    Comprar
                                </a></button>
                        </ul>
                    </div>
                </article>
            <%} %>
        </main>


        <!-------------Comienza el footer---------------------->
        <%- include('../partials/footer') %>
 <!--LIBRERIAS-->
 <script src="/bootstrap/js/jquery-3.5.1.js"></script>
 <script src="/bootstrap/js/popper.min.js"></script>
 <script src="/bootstrap/js/bootstrap.min.js">
     </script>
</body>

</html>