<!DOCTYPE html>
<html lang="es">

<%- include('../partials/header') %>

<body>
    <div class="container">


        <!---------Comienza el nav--------------------->
        <%- include('../partials/navbar') %>
        <!---------Comienza el main------------------------>
        <div class="container">
            <h1 class="my-4 main-titulo "><%= productoDetalle.name %></h1>
            <div class="row">
                <div class="col-md-8">
                    <img class="img-fluid" src="/images/productos/<%= productoDetalle.image%>" alt="Foto del producto">
                <% if (productoDetalle.discount == 30) { %>
                <img class="descuento" src="/img/promo30.png" alt="Descuento 30%">
                <% }else if(productoDetalle.discount == 15 ){ %>
                <img class="descuento" src="/img/promo15.png" alt="Descuento 15%">
                <% } %>
                </div>
                                                                  
                
                 


                <div class="col-md-4">
                    <h3 class="my-3 main-titulo">Descripción</h3>
                    <p><%= productoDetalle.description %></p>
                    <h3 class="my-3 main-titulo">Stock</h3>
                    <p>Stock disponible: <%= productoDetalle.stock%></p>
                    <h4 class="main-titulo">Precio: $<%= productoDetalle.price %></h4>
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon1">Cantidad</button>
                        </div>
                        <input type="number" class="form-control max__width" placeholder="Cantidad"
                            aria-label="Example text with button addon" aria-describedby="button-addon3">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button type="button" class="btn btn-primary"><a href="/carrito"><i
                                        class="fas fa-cart-plus"></i> Comprar
                                </a></button>
                        </div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
     <section id="tabs">
        <div class="container">
             <div class="row">
               <div class="col-xs-12 ">
                 <nav>
                  <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                   <a class="nav-item nav-link active busqueda" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Recetas</a>
                     <a class="nav-item nav-link busqueda" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Selección</a>
                       </div>
                      </nav>
                     <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  Ingrese un producto y encontrará más de docientas recetas en español y mucha más en inglés.
                  <br>
                  <br>
                  <button type="button" class="btn btn-primary"><a target="__blank" href="https://www.edamam.com/ontologies/edamam.owl#recipe_a9fc19477dc2d4375b92e7b7952b8982"><i class="fas fa-weight"></i> Recetas </a></button>
                 </div>
                 <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                 Si selecciona el campo "REFINE SEARCH BY" usted podrá buscar recetas por calorias - dieta o alergias.
                 <br>
                 <br>
                 <button type="button" class="btn btn-primary"><a target="__blank" href="https://www.edamam.com/ontologies/edamam.owl#recipe_a9fc19477dc2d4375b92e7b7952b8982"><i class="fas fa-weight"></i> Calorias</a></button>
                 </div>
                 <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                 </div>
                </div>
               </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
   

    <!-------------Comienza el footer---------------------->
    <%- include('../partials/footer') %>
    <!--LIBRERIAS-->
    <script src="/bootstrap/js/jquery-3.5.1.js"></script>
    <script src="/bootstrap/js/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js">
    </script>
</body>

</html>