<!DOCTYPE html>
<html lang="es">

<%- include('../partials/header') %>

<body>
    <div class="container">


        <!---------Comienza el nav--------------------->
        <%- include('../partials/navbar') %>
        <!---------Comienza el main------------------------>
        <div class="container">
            <h1 class="my-4 main-titulo "><%= productoDetalle.name %></h1>
            <div class="row">
                <div class="col-md-8">
                    <img class="img-fluid" src="/images/productos/<%= productoDetalle.image%>" alt="Foto del producto">
                <% if (productoDetalle.discount == 30) { %>
                <img class="descuento" src="/img/promo30.png" alt="Descuento 30%">
                <% }else if(productoDetalle.discount == 15 ){ %>
                <img class="descuento" src="/img/promo15.png" alt="Descuento 15%">
                <% } %>
                </div>
                                                                  
                
                 


                <div class="col-md-4">
                    <h3 class="my-3 main-titulo">Descripción</h3>
                    <p><%= productoDetalle.description %></p>
                    <h3 class="my-3 main-titulo">Stock</h3>
                    <p>Stock disponible: <%= productoDetalle.stock%></p>
                    <h4 class="main-titulo">Precio: $<%= productoDetalle.price %></h4>
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon1">Cantidad</button>
                        </div>
                        <input type="number" class="form-control max__width" placeholder="Cantidad"
                            aria-label="Example text with button addon" aria-describedby="button-addon3">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button type="button" class="btn btn-primary"><a href="/carrito"><i
                                        class="fas fa-cart-plus"></i> Comprar
                                </a></button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
   

    <!-------------Comienza el footer---------------------->
    <%- include('../partials/footer') %>
    <!--LIBRERIAS-->
    <script src="/bootstrap/js/jquery-3.5.1.js"></script>
    <script src="/bootstrap/js/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js">
    </script>
</body>

</html>